body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
body > ul {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 5;
}
body > ul > li {
  width: 200px;
  height: 60px;
}
body > ul > li:nth-of-type(1) {
  background-color: #231f20;
}
body > ul > li:nth-of-type(2) {
  background-color: #e8e4d2;
}
body > ul > li:nth-of-type(2) > a {
  color: #231f20;
}
body > ul > li:nth-of-type(3) {
  background-color: #e26961;
}
body > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}
body > h1 {
  font-size: 30vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: font2;
  background-image: url(img/6.jpg);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 45vw auto;
  background-repeat: repeat-x;
  background-position: center;
  background-repeat: repeat-x;
  z-index: 10;
  position: fixed;
  top: 10%;
  animation: h1 7s linear infinite;
}
body > section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
}
body > section:nth-of-type(1) {
  background-color: #231f20;
  animation: anime1 7s linear infinite;
}
body > section:nth-of-type(2) {
  opacity: 0;
  background-color: #e8e4d2;
  animation: anime2 7s linear infinite;
}
body > section:nth-of-type(2) > h3 {
  color: #e26961;
}
body > section:nth-of-type(3) {
  opacity: 0;
  background-color: #e26961;
  animation: anime3 7s linear infinite;
}
body > section:nth-of-type(3) > h3 {
  color: #231f20;
}
body > section > h3 {
  position: absolute;
  top: 82%;
  left: 30%;
  font-size: 34px;
  color: white;
}

@keyframes anime1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anime2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anime3 {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes h1 {
  0% {
    background-image: url(img/5.jpg);
    background-position: 0;
  }
  20% {
    background-image: url(img/5.jpg);
    background-position: 0;
  }
  25% {
    background-position: 20% 0;
    background-image: url(img/6.jpg);
  }
  45% {
    background-image: url(img/6.jpg);
    background-position: 20% 0;
  }
  50% {
    background-image: url(img/7.jpg);
    background-position: 40% 0;
  }
  70% {
    background-image: url(img/7.jpg);
    background-position: 40% 0;
  }
  75% {
    background-image: url(img/6.jpg);
    background-position: 20% 0;
  }
  95% {
    background-image: url(img/6.jpg);
    background-position: 20% 0;
  }
  100% {
    background-image: url(img/5.jpg);
    background-position: 0;
  }
}/*# sourceMappingURL=master.css.map */